.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login-box {
    text-align: left;
    max-width: 400px;
    width: 100%;
    margin-right: 120px;
    margin-left: auto;
}

.login-title {
    font-size: 32px;
    color: #353748;
    margin-bottom: 5px;
    font-weight: 400 !important;
    font-family: 'Philosopher', sans-serif !important;
}

.login-subtitle {
    font-size: 14px;
    color: #353748;
    margin-bottom: 40px;
    font-family: 'Philosopher', sans-serif !important;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 11.5px;
    color: #4B4B4B;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px !important;
    font-size: 11.5px;
    color: #656C73;
    font-weight: 600;
    font-family: 'Red Hat Display', sans-serif;
}

.login-button {
    background-color: #375CE1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    font-size: 11.5px;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
}

.login-button:hover {
    background-color: #274c9f;
}

#myNewChartContainer {
    height: 280px;
    position: relative;
}

#myNewChart {
    width: 100%;
    height: 100%;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 240px;
}

#mainChartNIK {
    width: 160px;
    height: 160px;
}

.small-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}

#financialChartNIK,
#nonFinancialChartNIK {
    width: 60px;
    height: 60px;
}

.legend-container {
    display: flex;
    justify-content: space-between;
    width: auto !;
    margin-top: 10px;
}

.legend {
    display: flex;
    align-items: center;
}

.legend-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.financial-color {
    background-color: #002F8A;
}

.nonFinancial-color {
    background-color: #3E77FF;
}

.chart {
    width: 100% !important;
    height: 280px !important;
}

.box {
    /*width:360px !important;*/
    height: 340px !important;
    background-color: #fff;
    padding: 10px;
    margin-top: 15px;
    border-radius: 8px;
}

@media screen and (max-width: 1440px) {
    .chart {
        width: 100% !important;
        height: 280px !important;
    }

    .box {
        /*width:320px !important;
                height: 320px !important;*/
        background-color: #fff;
        padding: 10px;
        margin-top: 15px;
        border-radius: 8px;
    }

}



@media screen and (min-width: 1366px) {
    .chart {
        width: 100% !important;
        height: 280px !important;
    }

    .box {
        /*width:320px !important;
                height: 320px !important;*/
        background-color: #fff;
        padding: 10px;
        margin-top: 15px;
        border-radius: 8px;
    }

}


@media screen and (min-width: 1920px) {

    .chart {
        width: 100% !important;
        height: 280px !important;
    }

    .box {
        /*width:320px !important;
                height: 300px !important;*/
        background-color: #fff;
        padding: 10px;
        margin-top: 15px;
        border-radius: 8px;
    }

}

@media (min-width: 1200px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
        width: calc(33.33333333% - 20px);
    }

    .new-container {
        max-width: 100%;
    }
}

small {
    font-size: 12px !important;
}

#map {
    height: 500px;
    /* Adjust the height of the map */
    width: 100%;
}